# Gemini API Key
GEMINI_API_KEY=

# Supabase Configuration
VITE_SUPABASE_URL=https://zrapgjuqqbgwqkfsrbcc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyYXBnanVxcWJnd3FrZnNyYmNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMjIyMzQsImV4cCI6MjA4ODg5ODIzNH0.sJNl55Zzc3149iecpVj7fM48F0ETgRnF_e88ajdhil8
